@-webkit-keyframes spinner__animation {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
        0.5856,
        0.0703,
        0.4143,
        0.9297
    );
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spinner__animation {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
        0.5856,
        0.0703,
        0.4143,
        0.9297
    );
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.shipday-woo-delivery-block-container {
  margin-top: 48px;
  position: relative;
}
.shipday-woo-delivery-block-container.processing {
  pointer-events: none;
  opacity: 0.5;
}
.shipday-woo-delivery-block-container.processing::after {
  -webkit-animation: 1s linear infinite spinner__animation;
  animation: 1s linear infinite spinner__animation;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0.2em solid;
  border-left: 0.2em solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  height: 1em;
  left: 50%;
  margin: -0.5em 0 0 -0.5em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateZ(0) scale(0.5);
  transform: translateZ(0) scale(0.5);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 1em;
}
.shipday-woo-delivery-block-container input,
.shipday-woo-delivery-block-container select {
  cursor: pointer;
}
.has-error
.shipday-woo-delivery-text-input.wc-block-components-text-input
label {
  color: #cc1818 !important;
}
.has-error
.shipday-woo-delivery-text-input.wc-block-components-text-input
input[type="text"] {
  color: #cc1818 !important;
  border-color: #cc1818 !important;
}



/*calendar icon*/
.shipday-woo-delivery-text-input {
  position: relative;
}

.shipday-woo-delivery-text-input input#shipday_woo_delivery_date {
  padding-right: 2.5rem; /* space for icon */
}
.shipday-woo-delivery-date-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shipday-woo-delivery-date-icon .dashicons {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 1;
}

/* When showing placeholder */
.shipday-select-placeholder {
  color: #aaa !important;
}


.shipday-woo-delivery-date-label {
  pointer-events: none;
}
::not(.has-error)
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select {
  color: #aaa;
}
.has-error
.shipday-woo-delivery-select.wc-blocks-components-select
.wc-blocks-components-select__select,
.has-error
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select,
.has-error
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select
option {
  color: #cc1818;
}
::not(.has-error)
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select
option {
  color: #2b2d2f;
}
.has-error
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select
option:disabled,
::not(.has-error)
.shipday-woo-delivery-select.wc-blocks-components-select.not-selected
.wc-blocks-components-select__select
option:disabled {
  color: light-dark(graytext, #aaa);
}
